### Logistic Regression [Homework]

Follow these instructions:

1. Load the ```"titanic"``` dataset from the ```seaborn``` library.

2. Perform analysis, cleaning, and any necessary preprocessing on the data set. Note: You are not allowed to discard data points.

3. Split the data into ```train``` and ```validation``` with the following ratio 8-2 using the ```train_test_split()``` function from the ```sklearn``` library. Note that you must set ```random_state = 1```.

4. Build a model that will predict whether the passenger survived the accident or not.

5. Model accuracy for both ```train``` and ```validation``` data should be above ```80%```.


**Note:** Please include explanations at all stages.

## 1. Load the "titanic" dataset from the seaborn library

In [27]:
# Начало кода
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
titanic = sns.load_dataset("titanic")

In [28]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 2. Let's clean and pre-process the data set

First, I would like to replace categorical values ​​with numeric values.

In [29]:
titanic["class"].unique

<bound method Series.unique of 0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']>

In [30]:
titanic["who"].unique()

array(['man', 'woman', 'child'], dtype=object)

For interpreted values ​​we use `label_encoder`, for the rest we use `one_hot_encoder`.

In [31]:
titanic["sex"].replace("male", 1, inplace=True)
titanic["sex"].replace("female", 0, inplace=True)
titanic["class"].replace("First", 1, inplace=True)
titanic["class"].replace("Second", 2, inplace=True)
titanic["class"].replace("Third", 3, inplace=True)
titanic["who"].replace("man", 1, inplace=True)
titanic["who"].replace("woman", 0, inplace=True)
titanic["who"].replace("child", 2, inplace=True)
titanic["adult_male"].replace(True, 1, inplace=True)
titanic["adult_male"].replace(False, 0, inplace=True)
titanic["alive"].replace("yes", 1, inplace=True)
titanic["alive"].replace("no", 0, inplace=True)
titanic["alone"].replace(True, 1, inplace=True)
titanic["alone"].replace(False, 0, inplace=True)

titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,S,3,1,1,NaN,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,C,1,0,0,C,Cherbourg,1,0
2,1,3,0,26.0,0,0,7.9250,S,3,0,0,NaN,Southampton,1,1
3,1,1,0,35.0,1,0,53.1000,S,1,0,0,C,Southampton,1,0
4,0,3,1,35.0,0,0,8.0500,S,3,1,1,NaN,Southampton,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,S,2,1,1,NaN,Southampton,0,1
887,1,1,0,19.0,0,0,30.0000,S,1,0,0,B,Southampton,1,1
888,0,3,0,NaN,1,2,23.4500,S,3,0,0,NaN,Southampton,0,0
889,1,1,1,26.0,0,0,30.0000,C,1,1,1,C,Cherbourg,1,1
890,0,3,1,32.0,0,0,7.7500,Q,3,1,1,NaN,Queenstown,0,1

We can notice that the `survived` and `alive` columns have very similar values. Let's check how much.

In [32]:
(titanic["survived"] == titanic["alive"]).value_counts()

True    891
Name: count, dtype: int64

`alive` completely repeats the `survived` attribute, which will be our target. Therefore, we can omit the `alive` sign.

In [33]:
titanic = titanic.drop(columns="alive")

But before using `one_hot_encoding` it is still better to fill in the missing data.

In [34]:
titanic.describe()

,survived,pclass,sex,age,sibsp,parch,fare,who,adult_male,alone
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208,0.789001,0.602694,0.602694
std,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429,0.594291,0.489615,0.489615
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200,1.000000,1.000000,1.000000
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000,1.000000,1.000000,1.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000,1.000000,1.000000

In [35]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    int64
 10  adult_male   891 non-null    int64
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alone        891 non-null    int64
dtypes: category(2), float64(2), int64(8), object(2)
memory usage: 85.9+ KB

Not all columns contain 891 values. Let's consider features with missing values.

In [36]:
titanic["age"].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

Since we will in any case use `one_hot_encoding` for the `embarked`, `embark_town` and `deck` features, we can replace `NaN` with any other value - for example, "no"

In [37]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    int64
 10  adult_male   891 non-null    int64
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alone        891 non-null    int64
dtypes: category(2), float64(2), int64(8), object(2)
memory usage: 85.9+ KB

Missing values ​​for the “age” attribute can be replaced with the average value for the column. But I think that would be too rude. Let's try to replace the missing values ​​with the values ​​of similar rows. To determine the similarity of two vectors we use `scipy.spatial.distance.cosine`. However, we still have categorical values, so we use `one_hot_encoding` first.

Now let's try to find vectors similar to those that do not have the value of the `age` attribute. When calculating `similarity` we will use a vector with the values ​​of all signs except the target `age`.

In [38]:
nas = numeric_titanic[numeric_titanic["age"].isna() == True].index.tolist()

NameError: name 'numeric_titanic' is not defined

In [ ]:
import scipy
for idx in nas:
    similarities = {}
    navector = numeric_titanic.drop(columns='age').loc[idx].values
    for idx2 in numeric_titanic[numeric_titanic["age"].isna() == False].index.tolist():
        vector2 = numeric_titanic.drop(columns='age').loc[idx2].values
        similarity = 1 - scipy.spatial.distance.cosine(navector,vector2)
        similarities[idx2]=similarity
        
    max_idx2 = [key for key in similarities.keys() if similarities[key] == max(similarities.values())][0]
    replacing_value = numeric_titanic["age"].loc[max_idx2]
    numeric_titanic.at[idx, 'age']= replacing_value

In [ ]:
similarities

{0: 0.9085087634073239,
 1: 0.9805828490311704,
 2: 0.9304751783763521,
 3: 0.9830093249690779,
 4: 0.9224224377748935,
 5: 0.9217632842313502,
 6: 0.9819523643397228,
 7: 0.9892638982923231,
 8: 0.9734933720028671,
 9: 0.9873286474745191,
 10: 0.9862321581655026,
 11: 0.9848441368228138,
 12: 0.9224224377748935,
 13: 0.994695549707806,
 14: 0.9130434040204417,
 15: 0.9913719874136602,
 16: 0.9881973748793831,
 17: 0.9799095922194868,
 18: 0.9948743681133047,
 19: 0.9054327478364079,
 20: 0.9902799825784248,
 21: 0.9768459386561931,
 22: 0.9031463533839669,
 23: 0.9826655164984617,
 24: 0.9902956594102419,
 25: 0.99568190072131,
 26: 0.893627479230283,
 27: 0.9793940039077571,
 28: 0.9205376699312651,
 29: 0.9191933722270215,
 30: 0.981954924176588,
 31: 0.9789972306801082,
 32: 0.9178073473900857,
 33: 0.972638348606616,
 34: 0.9805696761844811,
 35: 0.9835440829618443,
 36: 0.8880148924894637,
 37: 0.9224224377748935,
 38: 0.9928197293608866,
 39: 0.9542906183630265,
 40: 0.9624487578880304,
 41: 0.9954619598905848,
 42: 0.9102759398138804,
 43: 0.9892155929594694,
 44: 0.9205376699312651,
 45: 0.9224224377748935,
 46: 0.9811488020426948,
 47: 0.9178073473900857,
 48: 0.9885109168102914,
 49: 0.9947137421470806,
 50: 0.9920644491779294,
 51: 0.9171052683101657,
 52: 0.9803849499868628,
 53: 0.9933037204031763,
 54: 0.9813956683310433,
 55: 0.9826655164984617,
 56: 0.9804981802301577,
 57: 0.8937432425936542,
 58: 0.9937398531156553,
 59: 0.9915013184081491,
 60: 0.8937432425936542,
 61: 0.979755646767083,
 62: 0.9810254387859798,
 63: 0.9943797510280222,
 64: 0.981954924176588,
 65: 0.9818373192583199,
 66: 0.9767447179649451,
 67: 0.9245970888072559,
 68: 0.8744820362094662,
 69: 0.9283118275097738,
 70: 0.972638348606616,
 71: 0.9926025659580008,
 72: 0.9843045877699853,
 73: 0.9779651475302188,
 74: 0.9886367087592446,
 75: 0.9091438267224381,
 76: 0.9191933722270215,
 77: 0.9224224377748935,
 78: 0.9921563704028311,
 79: 0.9775632352089324,
 80: 0.9391915103955633,
 81: 0.9421459865755805,
 82: 0.918611755378125,
 83: 0.9831362435730753,
 84: 0.9804981802301577,
 85: 0.9814689026706797,
 86: 0.9968682923073277,
 87: 0.9224224377748935,
 88: 0.9794081593527222,
 89: 0.9224224377748935,
 90: 0.9224224377748935,
 91: 0.9182945377378556,
 92: 0.9821162837543225,
 93: 0.9962643735151586,
 94: 0.9037772549721579,
 95: 0.9224224377748935,
 96: 0.9807127674399126,
 97: 0.981206182673757,
 98: 0.9958042310542725,
 99: 0.9918651914508089,
 100: 0.9353978260741571,
 101: 0.9191933722270215,
 102: 0.9818182526126172,
 103: 0.9336559089870917,
 104: 0.9132410529275793,
 105: 0.9191933722270215,
 106: 0.9248434747367817,
 107: 0.9112332543633201,
 108: 0.9191933722270215,
 109: 0.9922985332039299,
 110: 0.9819440437834454,
 111: 0.9758814768100713,
 112: 0.9224224377748935,
 113: 0.9660355950390422,
 114: 0.9815667554104455,
 115: 0.9198171494750814,
 116: 0.9069533680490703,
 117: 0.9921820104140547,
 118: 0.9784409784446587,
 119: 0.9932148691702382,
 120: 0.9851641521223894,
 121: 0.9224224377748935,
 122: 0.9884021192930725,
 123: 0.9848639604717863,
 124: 0.9818182526126172,
 125: 0.9511947933412512,
 126: 0.9069533680490703,
 127: 0.8949897248516516,
 128: 0.9927529320091882,
 129: 0.8961561828416976,
 130: 0.9102759398138804,
 131: 0.8983038329205628,
 132: 0.9898883634541137,
 133: 0.9933037204031763,
 134: 0.9825687818906993,
 135: 0.9811843063227925,
 136: 0.9890581918214787,
 137: 0.9826617397069417,
 138: 0.9423715828143127,
 139: 0.9796203435495096,
 140: 0.9882409933197407,
 141: 0.9269517010598294,
 142: 0.9906496378383923,
 143: 0.8794611398898114,
 144: 0.9775684926829356,
 145: 0.9917188219090831,
 146: 0.9117130488023267,
 147: 0.9960829198713774,
 148: 0.9928826266314116,
 149: 0.9825687818906993,
 150: 0.9812300256055528,
 151: 0.9820225606388706,
 152: 0.9224224377748935,
 153: 0.9854433725722364,
 154: 0.9054150742014042,
 155: 0.9821037386842041,
 156: 0.917445918443327,
 157: 0.9224224377748935,
 158: 0.9337958536097428,
 159: 0.9875902815934111,
 160: 0.9900500626621987,
 161: 0.9912108166251468,
 162: 0.9165496740873422,
 163: 0.9337958536097428,
 164: 0.9920644491779294,
 165: 0.9920681435962495,
 166: 0.9836050407224033,
 167: 0.9979053244196655,
 168: 0.985058660622007,
 169: 0.988790365722803,
 170: 0.9831826357738388,
 171: 0.9881973748793831,
 172: 0.9636850461992579,
 173: 0.9198171494750814,
 174: 0.9806388700086608,
 175: 0.9263932285439578,
 176: 0.9939870641775211,
 177: 0.9823056790267823,
 178: 0.9825687818906993,
 179: 0.17501481307850986,
 180: 0.987890951319111,
 181: 0.9811915898500942,
 182: 0.9927540473049418,
 183: 0.9892696409140136,
 184: 0.9941843278338419,
 185: 0.9820671379060179,
 186: 0.9848688108444318,
 187: 0.9843340592121338,
 188: 0.984412063151232,
 189: 0.9191933722270215,
 190: 0.9879527607241676,
 191: 0.9825687818906993,
 192: 0.9336025450537259,
 193: 0.9905874249169502,
 194: 0.9817240137334979,
 195: 0.9787128792315166,
 196: 0.9069533680490703,
 197: 0.9377881187655458,
 198: 0.9178073473900857,
 199: 0.9906781528282215,
 200: 0.9462245596972374,
 201: 0.9875902815934111,
 202: 0.8810908308175517,
 203: 0.893627479230283,
 204: 0.9173290969603591,
 205: 0.9571649833704179,
 206: 0.9870567032700756,
 207: 0.9837205194502877,
 208: 0.9178073473900857,
 209: 0.9801448273982325,
 210: 0.8983038329205628,
 211: 0.9924093526909368,
 212: 0.9037772549721579,
 213: 0.9825687818906993,
 214: 0.911471474372249,
 215: 0.9794739756274953,
 216: 0.9304751783763521,
 217: 0.9917086738551666,
 218: 0.9798541740448811,
 219: 0.972638348606616,
 220: 0.9173290969603591,
 221: 0.9825687818906993,
 222: 0.9224224377748935,
 223: 0.9191933722270215,
 224: 0.9807278582133254,
 225: 0.9442257772632718,
 226: 0.968778657395136,
 227: 0.9037772549721579,
 228: 0.9825687818906993,
 229: 0.9961787094080331,
 230: 0.9811660759887808,
 231: 0.9165496740873422,
 232: 0.9837818149900674,
 233: 0.9927540473049418,
 234: 0.972638348606616,
 235: 0.9284840880301459,
 236: 0.9918651914508089,
 237: 0.9930192393071784,
 238: 0.972638348606616,
 239: 0.9804421976347334,
 240: 0.9842971644764967,
 241: 0.9848688108444318,
 242: 0.972638348606616,
 243: 0.9003988165394823,
 244: 0.893627479230283,
 245: 0.9801442927889228,
 246: 0.9330752139754448,
 247: 0.9946170849785952,
 248: 0.9839305289729025,
 249: 0.9918651914508089,
 250: 0.9037772549721579,
 251: 0.9715636510963886,
 252: 0.983463647378311,
 253: 0.9875783052749834,
 254: 0.998606083451368,
 255: 0.9863271637985157,
 256: 0.9803021760527967,
 257: 0.9805613568097671,
 258: 0.9777223461519015,
 259: 0.9948912283469244,
 260: 0.9069533680490703,
 261: 0.9922730269036201,
 262: 0.9821471128277459,
 263: 0.11112051624032371,
 264: 0.9233825382075904,
 265: 0.972638348606616,
 266: 0.9926781235453362,
 267: 0.9157149406117949,
 268: 0.9797357807319393,
 269: 0.9794375297431931,
 270: 0.9846637743912846,
 271: 0.17161614366444522,
 272: 0.9966011527050327,
 273: 0.9833863008237375,
 274: 0.9178073473900857,
 275: 0.9814116833564639,
 276: 0.9325824389556577,
 277: 0.16138796580777914,
 278: 0.9881973748793831,
 279: 0.997769543609332,
 280: 0.9069533680490703,
 281: 0.9182945377378556,
 282: 0.9462245596972374,
 283: 0.9173290969603591,
 284: 0.983462565709102,
 285: 0.9254634356497711,
 286: 0.9421459865755805,
 287: 0.9191933722270215,
 288: 0.9799095922194868,
 289: 0.9178073473900857,
 290: 0.9813700075713493,
 291: 0.9799552767831761,
 292: 0.9729372942694646,
 293: 0.9507674731957496,
 294: 0.9191933722270215,
 295: 0.981954924176588,
 296: 0.8937432425936542,
 297: 0.9804417468659763,
 298: 0.9828274489623773,
 299: 0.9784569467221836,
 300: 0.9178073473900857,
 301: 0.9886311202856578,
 302: 0.17501481307850986,
 303: 0.9768753171118638,
 304: 0.9224224377748935,
 305: 0.9803990872520599,
 306: 0.9795178595781786,
 307: 0.979555511672633,
 308: 0.9886829149957943,
 309: 0.9804995256617037,
 310: 0.9796768961544943,
 311: 0.9789723294825515,
 312: 0.9964787362906724,
 313: 0.9191933722270215,
 314: 0.9942627608700837,
 315: 0.9290744721937898,
 316: 0.9933037204031763,
 317: 0.9848227984530147,
 318: 0.9800187898540794,
 319: 0.9797377703957797,
 320: 0.9037772549721579,
 321: 0.9191933722270215,
 322: 0.9801142130846492,
 323: 0.9947844596063222,
 324: 0.9875902815934111,
 325: 0.9788231928819379,
 326: 0.8719061768169831,
 327: 0.9848639604717863,
 328: 0.9978609431087713,
 329: 0.9818939230924854,
 330: 0.9912451104036736,
 331: 0.9834295821778275,
 332: 0.979694194677947,
 333: 0.9885799104332088,
 334: 0.980091875798186,
 335: 0.9191933722270215,
 336: 0.981801586445662,
 337: 0.9788355717885764,
 338: 0.9173290969603591,
 339: 0.984222184320268,
 340: 0.9905874249169502,
 341: 0.9794081593527222,
 342: 0.9825687818906993,
 343: 0.9825687818906993,
 344: 0.9825687818906993,
 345: 0.9848639604717863,
 346: 0.9879527607241676,
 347: 0.9910715718340752,
 348: 0.9850974038037675,
 349: 0.9337958536097428,
 350: 0.9424892447230541,
 351: 0.9830859281148114,
 352: 0.890834886495177,
 353: 0.9903393018434913,
 354: 0.893627479230283,
 355: 0.9462245596972374,
 356: 0.9836050407224033,
 357: 0.9906781528282215,
 358: 0.9205376699312651,
 359: 0.9205376699312651,
 360: 0.9960768984014269,
 361: 0.9886087966265473,
 362: 0.9870393136609202,
 363: 0.8983038329205628,
 364: 0.9811488020426948,
 365: 0.9037772549721579,
 366: 0.9804365212942803,
 367: 0.9055405788752963,
 368: 0.9178073473900857,
 369: 0.9800598522835746,
 370: 0.9808330795351763,
 371: 0.8861742472598348,
 372: 0.9224224377748935,
 373: 0.9790771618502502,
 374: 0.9902956594102419,
 375: 0.9807147407343606,
 376: 0.9156597996791168,
 377: 0.9790049550929077,
 378: 0.7350891056017171,
 379: 0.9165496740873422,
 380: 0.9783819126180712,
 381: 0.9803989563536292,
 382: 0.9198171494750814,
 383: 0.9839068135966955,
 384: 0.9191933722270215,
 385: 0.9843045877699853,
 386: 0.9915013184081491,
 387: 0.9879527607241676,
 388: 0.9064667621655658,
 389: 0.9790694457376782,
 390: 0.9812034526348584,
 391: 0.9117130488023267,
 392: 0.9132410529275793,
 393: 0.9794739756274953,
 394: 0.9918480441749992,
 395: 0.9170122411933738,
 396: 0.934608780992946,
 397: 0.9902799825784248,
 398: 0.972638348606616,
 399: 0.9872585561705703,
 400: 0.9146236651475173,
 401: 0.9224224377748935,
 402: 0.9660355950390422,
 403: 0.9870567032700756,
 404: 0.9481203369159095,
 405: 0.9921820104140547,
 406: 0.9159895806954276,
 407: 0.9907494404560352,
 408: 0.9165496740873422,
 409: 0.9961787094080331,
 410: 0.9191933722270215,
 411: 0.8828869710091601,
 412: 0.9799836964465242,
 413: 0.16138796580777914,
 414: 0.9146236651475173,
 415: 0.9382270617630297,
 416: 0.9936812507662347,
 417: 0.9921642064726615,
 418: 0.9825687818906993,
 419: 0.9958446785011869,
 420: 0.9102759398138804,
 421: 0.9065629335421986,
 422: 0.9187454571768792,
 423: 0.9929936635251214,
 424: 0.9954574188984036,
 425: 0.9037772549721579,
 426: 0.9933037204031763,
 427: 0.9917162124594282,
 428: 0.9069533680490703,
 429: 0.9129561257798643,
 430: 0.9827755760654904,
 431: 0.9910715718340752,
 432: 0.9933037204031763,
 433: 0.9003988165394823,
 434: 0.9824612025224361,
 435: 0.9811694179324554,
 436: 0.9977271097033413,
 437: 0.9935614909757056,
 438: 0.9796825212098107,
 439: 0.972638348606616,
 440: 0.9956759448625032,
 441: 0.9462245596972374,
 442: 0.921057507894693,
 443: 0.9879527607241676,
 444: 0.9186425258051545,
 445: 0.9821759648319629,
 446: 0.9915709570404035,
 447: 0.9843340592121338,
 448: 0.9865303243327568,
 449: 0.9828274489623773,
 450: 0.9949984491753392,
 451: 0.9924356580889956,
 452: 0.9804629417089713,
 453: 0.9798227809556148,
 454: 0.9224224377748935,
 455: 0.9051093743868537,
 456: 0.983463647378311,
 457: 0.9831188563714297,
 458: 0.9804981802301577,
 459: 0.9069533680490703,
 460: 0.9827755760654904,
 461: 0.9224224377748935,
 462: 0.9828454516901721,
 463: 0.9825687818906993,
 464: 0.9224224377748935,
 465: 0.8983038329205628,
 466: 0.16138796580777914,
 467: 0.9850232216667887,
 468: 0.9063681155082043,
 469: 0.9865303243327568,
 470: 0.9037772549721579,
 471: 0.9337958536097428,
 472: 0.996261839509396,
 473: 0.9804712797887976,
 474: 0.9623328475577335,
 475: 0.9819440437834454,
 476: 0.9921820104140547,
 477: 0.9030081126626929,
 478: 0.9106377353270851,
 479: 0.9718408288349338,
 480: 0.9915013184081491,
 481: 0.16138796580777914,
 482: 0.9224224377748935,
 483: 0.9555573877853479,
 484: 0.9797782760344278,
 485: 0.9961787094080331,
 486: 0.980909300882365,
 487: 0.9805944338017456,
 488: 0.9224224377748935,
 489: 0.9850974038037675,
 490: 0.9924356580889956,
 491: 0.9037772549721579,
 492: 0.983350507780119,
 493: 0.9812581244682387,
 494: 0.9224224377748935,
 495: 0.9752555118629437,
 496: 0.9803329608648959,
 497: 0.9826479440723892,
 498: 0.9805270828025128,
 499: 0.9170122411933738,
 500: 0.9337958536097428,
 501: 0.9233825382075904,
 502: 0.9208350142503239,
 503: 0.9597422027622061,
 504: 0.9805613568097671,
 505: 0.979472972116694,
 506: 0.9959004559802961,
 507: 0.9843340592121338,
 508: 0.9918725271053886,
 509: 0.9886367087592446,
 510: 0.9016688169147751,
 511: 0.9224224377748935,
 512: 0.9827621292684797,
 513: 0.9818047562611422,
 514: 0.9100295144083367,
 515: 0.9831497369994538,
 516: 0.9767447179649451,
 517: 0.9889760765325929,
 518: 0.9933037204031763,
 519: 0.9191933722270215,
 520: 0.9803389991529213,
 521: 0.9191933722270215,
 522: 0.893627479230283,
 523: 0.9818939230924854,
 524: 0.8937432425936542,
 525: 0.9069533680490703,
 526: 0.9804981802301577,
 527: 0.9785796376935078,
 528: 0.9198171494750814,
 529: 0.9781084276401368,
 530: 0.9928826266314116,
 531: 0.8937432425936542,
 532: 0.9021459008519122,
 533: 0.9944975700898233,
 534: 0.9481203369159095,
 535: 0.9930192393071784,
 536: 0.983463647378311,
 537: 0.9796041893604065,
 538: 0.9808395709905895,
 539: 0.9835792046062508,
 540: 0.9832341352923989,
 541: 0.9932148691702382,
 542: 0.9932148691702382,
 543: 0.9911482667518232,
 544: 0.9795177647330866,
 545: 0.9850547019657137,
 546: 0.9933037204031763,
 547: 0.9764082662692939,
 548: 0.9956274680970469,
 549: 0.9906320560593381,
 550: 0.9804058922254397,
 551: 0.9902799825784248,
 552: 0.908777179978209,
 553: 0.8878954103679323,
 554: 0.9274677821562346,
 555: 0.9850232216667887,
 556: 0.9823419205188721,
 557: 0.9783630162271013,
 558: 0.9823017178147277,
 559: 0.9928311486546063,
 560: 0.9069533680490703,
 561: 0.9191933722270215,
 562: 0.9837818149900674,
 563: 0.9224224377748935,
 564: 0.9382270617630297,
 565: 0.9932880016494037,
 566: 0.9191933722270215,
 567: 0.9939344253291154,
 568: 0.8937432425936542,
 569: 0.9130434040204417,
 570: 0.968778657395136,
 571: 0.983406946532221,
 572: 0.982767442653091,
 573: 0.9178073473900857,
 574: 0.9224224377748935,
 575: 0.9808395709905895,
 576: 0.9879527607241676,
 577: 0.9827748564160647,
 578: 0.9843082010455585,
 579: 0.9146236651475173,
 580: 0.9944632891154899,
 581: 0.9802294111201271,
 582: 0.9902799825784248,
 583: 0.9806599680206253,
 584: 0.9263348083536461,
 585: 0.9826698672632824,
 586: 0.9864839410000502,
 587: 0.9810414652526417,
 588: 0.9224224377748935,
 589: 0.9224224377748935,
 590: 0.9003988165394823,
 591: 0.9803329608648959,
 592: 0.9037772549721579,
 593: 0.9250257933417848,
 594: 0.9918651914508089,
 595: 0.9966053379097554,
 596: 0.9902142016834533,
 597: 0.17501481307850986,
 598: 0.893627479230283,
 599: 0.9807778515498936,
 600: 0.9949553760174691,
 601: 0.9191933722270215,
 602: 0.9835522571307932,
 603: 0.9224224377748935,
 604: 0.9812170929188468,
 605: 0.9863834507602357,
 606: 0.9191933722270215,
 607: 0.9841864001172217,
 608: 0.9903481771137143,
 609: 0.9791927946325052,
 610: 0.9961499600525789,
 611: 0.8983038329205628,
 612: 0.9848688108444318,
 613: 0.9069533680490703,
 614: 0.9224224377748935,
 615: 0.9880019369567782,
 616: 0.9865902155631852,
 617: 0.9928321636642505,
 618: 0.9895903637757107,
 619: 0.972638348606616,
 620: 0.9779651475302188,
 621: 0.9825250574370012,
 622: 0.9832222145220364,
 623: 0.9182945377378556,
 624: 0.985106547887768,
 625: 0.9832536827571509,
 626: 0.9742460035733621,
 627: 0.9808774719044002,
 628: 0.9191933722270215,
 629: 0.9065629335421986,
 630: 0.982832991520501,
 631: 0.898422530703187,
 632: 0.9801095466526883,
 633: 0.1250105807703641,
 634: 0.994988559984127,
 635: 0.9879527607241676,
 636: 0.9198171494750814,
 637: 0.9942627608700837,
 638: 0.9952858827473084,
 639: 0.9875783052749834,
 640: 0.9182945377378556,
 641: 0.9800598522835746,
 642: 0.994988559984127,
 643: 0.9886367087592446,
 644: 0.9865303243327568,
 645: 0.9801355567046612,
 646: 0.9191933722270215,
 647: 0.9803271589827748,
 648: 0.911341896453048,
 649: 0.9226629962744466,
 650: 0.9191933722270215,
 651: 0.9958042310542725,
 652: 0.9297947050821316,
 653: 0.9194947208990631,
 654: 0.898774574947619,
 655: 0.9851641521223894,
 656: 0.9191933722270215,
 657: 0.990005358524695,
 658: 0.9825687818906993,
 659: 0.9803863842884375,
 660: 0.9802390465814088,
 661: 0.893627479230283,
 662: 0.9834579386428118,
 663: 0.9100295144083367,
 664: 0.9190455281228547,
 665: 0.9851641521223894,
 666: 0.9825687818906993,
 667: 0.9165496740873422,
 668: 0.9224224377748935,
 669: 0.9831064989606155,
 670: 0.9918441921535444,
 671: 0.9827440633726447,
 672: 0.972638348606616,
 673: 0.9799095922194868,
 674: 0.16138796580777914,
 675: 0.9165496740873422,
 676: 0.9224224377748935,
 677: 0.9583516208675449,
 678: 0.9943503384797271,
 679: 0.9777980922158135,
 680: 0.9308948373130287,
 681: 0.9795929360448673,
 682: 0.9424892447230541,
 683: 0.9915013184081491,
 684: 0.9911986703200143,
 685: 0.9897813990406464,
 686: 0.9920644491779294,
 687: 0.9541415090193696,
 688: 0.9170122411933738,
 689: 0.9790172248869,
 690: 0.9822351092331968,
 691: 0.9720353187617371,
 692: 0.9886367087592446,
 693: 0.893627479230283,
 694: 0.9850232216667887,
 695: 0.9837818149900674,
 696: 0.9224224377748935,
 697: 0.917445918443327,
 698: 0.9801497475051115,
 699: 0.9091438267224381,
 700: 0.9783819126180712,
 701: 0.9827621292684797,
 702: 0.9870393136609202,
 703: 0.9067595778826217,
 704: 0.9227700719368956,
 705: 0.9902799825784248,
 706: 0.9888075530092024,
 707: 0.9827621292684797,
 708: 0.9794914267984774,
 709: 0.9818373192583199,
 710: 0.9808167564666342,
 711: 0.983463647378311,
 712: 0.9825629958329462,
 713: 0.9460064850035469,
 714: 0.9825687818906993,
 715: 0.9091438267224381,
 716: 0.9781987794390298,
 717: 0.9767447179649451,
 718: 0.9785902289882775,
 719: 0.9165496740873422,
 720: 0.9909279393329878,
 721: 0.9032418513746585,
 722: 0.9825687818906993,
 723: 0.9825687818906993,
 724: 0.9824880852855566,
 725: 0.9337958536097428,
 726: 0.9895955608728625,
 727: 0.9175370034520212,
 728: 0.9918651914508089,
 729: 0.9404699731801355,
 730: 0.9786667402273946,
 731: 0.9824251958679769,
 732: 0.16138796580777914,
 733: 0.9825687818906993,
 734: 0.9825687818906993,
 735: 0.985106547887768,
 736: 0.9981006267086178,
 737: 0.9776354257121749,
 738: 0.9191933722270215,
 739: 0.9191933722270215,
 740: 0.982832991520501,
 741: 0.9812123785972015,
 742: 0.9789723294825515,
 743: 0.9875783052749834,
 744: 0.9146236651475173,
 745: 0.9826478124233257,
 746: 0.9954787796892218,
 747: 0.9879527607241676,
 748: 0.9826617397069417,
 749: 0.9069533680490703,
 750: 0.9930242640471719,
 751: 0.967237289015445,
 752: 0.9462245596972374,
 753: 0.9191933722270215,
 754: 0.9880019369567782,
 755: 0.9853356573544249,
 756: 0.9170122411933738,
 757: 0.9775684926829356,
 758: 0.9224224377748935,
 759: 0.9805613568097671,
 760: 0.9808395709905895,
 761: 0.9003988165394823,
 762: 0.8880148924894637,
 763: 0.9813055779966595,
 764: 0.9165496740873422,
 765: 0.9814116833564639,
 766: 0.9817188679778404,
 767: 0.9233825382075904,
 768: 0.9906657169013373,
 769: 0.9284994155042582,
 770: 0.9462245596972374,
 771: 0.9182945377378556,
 772: 0.9807314476702024,
 773: 0.893627479230283,
 774: 0.9965140944863613,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 891 non-null    int64
 1   pclass                   891 non-null    int64
 2   sex                      891 non-null    int64
 3   age                      891 non-null    float64
 4   sibsp                    891 non-null    int64
 5   parch                    891 non-null    int64
 6   fare                     891 non-null    float64
 7   class                    891 non-null    category
 8   who                      891 non-null    int64
 9   adult_male               891 non-null    float64
 10  alone                    891 non-null    float64
 11  embarked_C               891 non-null    uint8
 12  embarked_Q               891 non-null    uint8
 13  embarked_S               891 non-null    uint8
 14  embarked_Unknown         891 non-null    uint8
 15  embark_town_Cherbourg    891 non-null    uint8
 16  embark_town_Queenstown   891 non-null    uint8
 17  embark_town_Southampton  891 non-null    uint8
 18  embark_town_Unknown      891 non-null    uint8
 19  deck_A                   891 non-null    uint8
 20  deck_B                   891 non-null    uint8
 21  deck_C                   891 non-null    uint8
 22  deck_D                   891 non-null    uint8
 23  deck_E                   891 non-null    uint8
 24  deck_F                   891 non-null    uint8
 25  deck_G                   891 non-null    uint8
 26  deck_Unknown             891 non-null    uint8
dtypes: category(1), float64(4), int64(6), uint8(16)
memory usage: 84.6 KB

We now have high-quality and complete numerical information.

In [ ]:
numeric_titanic

,survived,pclass,sex,age,sibsp,parch,fare,class,who,adult_male,...,embark_town_Southampton,embark_town_Unknown,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,deck_Unknown
0,0,3,1,22.0,1,0,7.2500,3,1,1.0,...,1,0,0,0,0,0,0,0,0,1
1,1,1,0,38.0,1,0,71.2833,1,0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,1,3,0,26.0,0,0,7.9250,3,0,0.0,...,1,0,0,0,0,0,0,0,0,1
3,1,1,0,35.0,1,0,53.1000,1,0,0.0,...,1,0,0,0,1,0,0,0,0,0
4,0,3,1,35.0,0,0,8.0500,3,1,1.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,2,1,1.0,...,1,0,0,0,0,0,0,0,0,1
887,1,1,0,19.0,0,0,30.0000,1,0,0.0,...,1,0,0,1,0,0,0,0,0,0
888,0,3,0,30.0,1,2,23.4500,3,0,0.0,...,1,0,0,0,0,0,0,0,0,1
889,1,1,1,26.0,0,0,30.0000,1,1,1.0,...,0,0,0,0,1,0,0,0,0,0
890,0,3,1,32.0,0,0,7.7500,3,1,1.0,...,0,0,0,0,0,0,0,0,0,1

## 3. Divide the data into train and validation

In [ ]:
X = np.arange(1, 21)
#array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
#np.split(a, [int(0.8 * len(a)), int(0.9 * len(a))])

In [ ]:
np.split(X, [int(0.8 * len(X)), int(0.9 * len(X))])

[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16]),
 array([17, 18]),
 array([19, 20])]

In [ ]:
X_train = train_test_split(X, test_size = 0.2, random_state = 1)
print(len(X_train))

2

In [26]:
X_test = train_test_split(X, test_size = 0.2, random_state = 1)

NameError: name 'X' is not defined

## 4. Let's build a model based on logistic regression

Let's create and train a Logistic Regression model using data from the training set.

In [ ]:
x = regression()

NameError: name 'regression' is not defined

The `max_iter` parameter was set to 1000 because with the default number of 100, the model cannot achieve convergence.

The accuracy of the Logistic Regression model on test data is: 80.45 %

The accuracy of the Logistic Regression model on train data is: 84.13 %

In [ ]:
X_test

,pclass,sex,age,sibsp,parch,fare,class,who,adult_male,alone,...,embark_town_Southampton,embark_town_Unknown,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,deck_Unknown
862,1,0,48.0,0,0,25.9292,1,0,0.0,1.0,...,1,0,0,0,0,1,0,0,0,0
223,3,1,28.0,0,0,7.8958,3,1,1.0,1.0,...,1,0,0,0,0,0,0,0,0,1
84,2,0,17.0,0,0,10.5000,2,0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,1
680,3,0,21.0,0,0,8.1375,3,0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
535,2,0,7.0,0,2,26.2500,2,2,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,1,0,49.0,0,0,25.9292,1,0,0.0,1.0,...,1,0,0,0,0,1,0,0,0,0
815,1,1,40.0,0,0,0.0000,1,1,1.0,1.0,...,1,0,0,1,0,0,0,0,0,0
629,3,1,21.0,0,0,7.7333,3,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,1
421,3,1,21.0,0,0,7.7333,3,1,1.0,1.0,...,0,0,0,0,0,0,0,0,0,1
448,3,0,5.0,2,1,19.2583,3,2,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

### Great job